<div class="main-container container mx-auto">

  <nav class="bg-white border-gray-200 fixed w-full z-30 top-0 start-0 lg:px-30">
    <div class="flex flex-wrap items-center justify-around p-3">
      <a class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="assets/icon.png" class="h-10" alt="Flowbite Logo" />
        <span class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white mt-2">NemDeBár</span>
      </a>
      <button id="toggle" data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-md text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto self-end" id="navbar-default">
        <ul class="font-semibold w-full flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li *ngFor="let category of categories">
            <p class="block py-2 px-3 text-gray-900 text-lg rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-pink-400 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent cursor-pointer" aria-current="page"
               [ngClass]="{'selected-category' : category === selectedCategory}"
               (click)="getDrinksByCategory(category)">
              {{category}}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="flex flex-col flex-wrap items-center md:flex-row my-10 align-center self-center justify-evenly mt-20">
    <div class="m-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 w-80" *ngFor="let drink of displayedDrinks">
      <div (click)="drink.imageShowing = !drink.imageShowing" class="w-150 cursor-pointer border-b-2 border-b-gray-200">
        <div class="absolute w-80 h-0 bg-blue-400">
          <span class="relative z-20 turn-over float-right">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512" class="bg-white rounded-lg p-0.5">
              <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path fill="#3e3c3c" d="M386.3 160H336c-17.7 0-32 14.3-32 32s14.3 32 32 32H464c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32s-32 14.3-32 32v51.2L414.4 97.6c-87.5-87.5-229.3-87.5-316.8 0s-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3s163.8-62.5 226.3 0L386.3 160z"/>
            </svg>
          </span>
        </div>
        <div [ngClass]="{'transform-active': !drink.imageShowing}" class="img-container">
          <img class="object-cover w-full rounded-t-lg h-80 mx-auto" src="{{drink.image}}" alt="" *ngIf="drink.imageShowing">
          <div>
            <div *ngIf="!drink.imageShowing" class="w-100 mx-auto h-80 text-center flex align-center content-center">
              <p class="ingredient font-normal text-2xl text-gray-700 dark:text-gray-400 text-center self-center mx-auto">{{formatIngredients(drink.ingredients)}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute w-80 h-0">
          <span class="relative z-10 like-container align-end cursor-pointer">
            <span class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:fill-[#1769ff] float-right" *ngIf="drink.liked">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" (click)="changeLikedStatus(drink)">
                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path fill="#f20202" d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
              </svg>
            </span>
            <span class="[&>svg]:h-7 [&>svg]:w-7 [&>svg]:fill-[#1769ff] float-right" *ngIf="!drink.liked">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" (click)="changeLikedStatus(drink)">
                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                <path fill="#f20202" d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/>
              </svg>
            </span>
          </span>
      </div>
        <div class="flex flex-row justify-around p-4 leading-normal h-24">
          <h5 class="drink-name text-2xl font-bold tracking-tight text-gray-900 dark:text-white my-auto p-auto justify-text-center text-center">
            {{drink.name}}
          </h5>
        </div>
    </div>
  </div>
</div>

